.hero {
    background :url('../img/hero-bg.png') no-repeat;
    background-size: 150%;
}
.hero__content {
    box-sizing: border-box;
    z-index: -1;
    background-color: rgba(169, 52, 52, 0.56);
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
}
.hero__content img {
    margin: 0 auto .2rem;
    max-height: 2rem;
    display: block;
}
.hero__content h6 {
    
}
.hero ul {
    display: flex;
	justify-content: center;
    text-decoration: none;
    list-style: none;
}
.hero ul a {
    text-decoration: none;
}
.hero ul li {
    margin: .5rem;
    display: inline;
    color: #ffffff;

}
.hero__button__google img {
    display: inline;
    max-height: 2.5rem;
    max-width: 4rem;
}
.hero__button__appstore img {
    display: inline;
    max-height: 1.2rem;
    max-width: 4rem;
}