.hero {
    background :url('../img/hero-bg.png') no-repeat;
    background-size: 150%;
}
.hero__content {
    box-sizing: border-box;
    z-index: -1;
    background-color: rgba(169, 52, 52, 0.56);
}
.hero__content img {
    max-height: 2rem;
    display: block;
    margin: auto;
}
.hero ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.hero ul a {
    text-decoration: none;
}
.hero ul li {
    justify-content: space-between;
    color: #ffffff;
    display: inline;

}
.hero__button__google img {
    display: inline;
    max-height: 2.5rem;
    max-width: 4rem;
}
.hero__button__appstore img {
    display: inline;
    max-height: 1.2rem;
    max-width: 4rem;
}